/* Encabezado */
header {
    background-color: #f0f8ff; /* fondo azul claro */
    color: #004080; /* texto azul oscuro */
    padding: 20px;
    text-align: center;
}

/* Menú de navegación */
nav a {
    color: #004080; /* azul oscuro para links */
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #001f3f; /* azul más intenso al pasar el mouse */
    text-decoration: underline;
}

/* Pie de página */
footer {
    background-color: #004080; /* azul oscuro */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}